*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section{
    background-image: url(../images/padincinator-img-2.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    margin-bottom: 12rem;
}



.main{
    margin: 8rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
	margin-top: 1rem;
	background-color: transparent;
	border-radius: 18px;
	padding-bottom: 20px;
	margin-bottom: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.features-section {
    font-weight: 300;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
.features-section {
    margin: 0rem!important;
}
.incinator{
margin-bottom: 14rem;
height: 50vh;
}
.incinator-img {
    width: 55%;
}

/* 
.main{
    background-color: #000;
} */
.features-section div h3{
    color: #484848;
    font-size: 20px;
}
.mt-24 {
    margin-top: 24px;
    color: #484848;
}
.padcinator-models h1{
    text-align: center;
    color: #484848;
    font-size: 46px;
}.incinator-heading h1{
    color: #484848;
}.features-head{
    margin-top: 3rem;
}
.features-head h2{
    color: #484848;
}.incinator-making{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}.has-bottom-divider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #242830;
    display: none;
}
.text-sm ul li{
    padding: 22px 0;
}
.feature h4{
    padding-bottom: 1rem;
}
.feature-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
    text-align: center;
}
.feature-icon img{
    height: 15rem;
}
.feature-inner h4{
    font-size: 1.8rem;
}
.fetaures-content{
    font-size: 1.1rem;
}
.fetaures-content span{
    font-weight: 500;
}
.features-section{
    margin: 0 9rem;
}



.main{
    /* margin-top: 10rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}
.main h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.about-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6rem;
}
.about-box img{
    height: 14rem;
}
.about-content{
    margin: 0 4rem;
}
.about-content h2{
    margin-bottom: 10px;
    font-size: 2.2rem;
}
.about-content-main{
    text-align: center;
    margin-bottom: 7rem;
}

@media(max-width:1025px){
    .incinator-container p {
        margin-top: 2rem;
        font-size: 16px;
    }
    .incinator-container{
        width: 100%;
    }
    .features-section {
        font-weight: 300;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
    .incinator-img {
        width: 50%;
    }
    .about-box {
        margin-top: 2rem;
    }
    .main h1{
        font-size: 2.2rem;
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    .features-section div h3 {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .about-container-1 {
    margin: 0rem;
    line-height: 24px;
    }
    .about-box img {
        height: 18rem;
    }
}

@media (max-width: 726px){
    .features-section {
        font-weight: 300;
        margin-top: 2.4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
    .fetaures-content {
        font-size: .9rem;
    }
    .incinator{
        margin-bottom: 1rem;
        margin-top: -10rem;
        height: auto;
    }
    .incinator-img{
        height: 24rem;
        width: 25rem;
    }
    .padcinator-models h1 {
        font-size: 36px;
    }
    .about-box{
        flex-direction: column;
        align-items: center;
    }
    .clumn-reverse{
        flex-direction: column-reverse;
    }
    .about-container-1 {
        margin: 0rem;
        line-height: 24px;
    }
    .main h1{
        font-size: 2rem;
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    .about-box {
        margin-top: 2rem;
    }
    .main {
        margin: -1rem;
    }
    .incinator-making{
        margin: 3rem 0;
    }
    section{
        background-size: 100% 60%;
        margin-bottom: -8rem;
    }
}

