@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --white:#fff;
}
body{
    /* background-color: #000; */
    font-family: var(--roboto);
    background-color: #FEF5F6;
}
body, html {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	height: 100%;
}

a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.bg-color-1{
    background-color: #ffe5ec;
	padding-bottom: 3rem;
}

/*--------------------------------------------*/

.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 200px;
	background: transparent;
	z-index: 100;
  }
  .nav,
  .nav .nav-links {
	display: flex;
	align-items: center;
  }
  .nav {
	justify-content: space-between;
	/* flex-direction: row-reverse; */
  }
  .nav ul .active{
	color: #E88683;
  }
  .nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
  }
  .nav .logo {
	font-size: 22px;
	font-weight: 500;
  }
  .nav .nav-links {
	column-gap: 20px;
	list-style: none;
  }
  .nav .nav-links a {
	transition: all 0.2s linear;
  }
  .nav.openSearch .nav-links a {
	opacity: 0;
	pointer-events: none;
  }
  .nav .search-icon {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
  }
  .nav .search-box {
	position: absolute;
	right: 250px;
	height: 45px;
	max-width: 555px;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s linear;
  }
  .nav.openSearch .search-box {
	opacity: 1;
	pointer-events: auto;
  }
  .search-box .search-icon {
	position: absolute;
	left: 15px;
	top: 50%;
	left: 15px;
	color: #4a98f7;
	transform: translateY(-50%);
  }
  .search-box input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: #fff;
	padding: 0 15px 0 45px;
  }
  .nav .navOpenBtn,
  .nav .navCloseBtn {
	display: none;
  }
  /* responsive */
  @media screen and (max-width: 1160px) {
	.nav {
	  padding: 15px 100px;
	}
	.nav .search-box {
	  right: 150px;
	}
  }
  @media screen and (max-width: 950px) {
	.nav {
	  padding: 15px 50px;
	}
	.nav .search-box {
	  right: 100px;
	  max-width: 400px;
	}
  }
  @media screen and (max-width: 768px) {
	.nav .navOpenBtn,
	.nav .navCloseBtn {
	  display: block;
	}
	.nav {
	  padding: 15px 20px;
	}
	.nav .nav-links {
	  position: fixed;
	  top: 0;
	  left: -100%;
	  height: 100%;
	  max-width: 280px;
	  width: 100%;
	  padding-top: 100px;
	  row-gap: 30px;
	  flex-direction: column;
	  background-color: #11101d;
	  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	  transition: all 0.4s ease;
	  z-index: 100;
	}
	.nav.openNav .nav-links {
	  left: 0;
	}
	.nav .navOpenBtn {
	  color: #fff;
	  font-size: 20px;
	  cursor: pointer;
	}
	.nav .navCloseBtn {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  color: #fff;
	  font-size: 20px;
	  cursor: pointer;
	}
	.nav .search-box {
	  top: calc(100% + 10px);
	  max-width: calc(100% - 20px);
	  right: 50%;
	  transform: translateX(50%);
	  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	}
  }

/* --------------------------------------- */

.slideshow-container {
	position: relative;
	height: 100%;
}

.slide-item {
	display: none;
}

@media(max-width:500px){
	.slide-item-2{
		background-size: 100% 50%!important;
		background-color: #f8e7eb;
	}
}

.bgimg {
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg::after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}

.caption {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 9;
}

.caption h2 {
	color: var(--white);
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 70px;
}

.caption p {
	color: var(--white);
	font-size: 20px;
}

.caption button {
	background-color: var(--white);
	border: 2px solid var(--red);
	color: var(--red);
	padding: 10px 40px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 16px;
	margin-top: 30px;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.caption button:hover {
	cursor: pointer;
	color: var(--white);
	background-color: var(--red);
}

.caption button:focus {
	outline: none;
}

.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #FEF5F6;
	border-radius: 5px;
	display: inline-block;
	transition: background-color 0.6s ease, height 0.6s;
}

.slide-control {
	position: absolute;
	left: 30px;
	top: 50%;
	width: 10px;
	text-align: center;
}

.dot:hover {
	background-color: #E88683;
}

.dot.active {
	background-color: #E88683;
	height: 60px;
}

/* fade animation */

.fade {
	animation-name: fade;
	animation-duration: 1.0s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
}

@keyframes fade {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	} to {
		opacity: 1
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		padding: 10px;
	}
	
	.navbar .menu {
		display: none;
	}

	.navbar .icon {
		display: block;
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.navbar.show {
		background: var(--black);
	}

	.navbar.show .menu {
		display: block;
		width: 100%;
	}

	.navbar.show .menu a {
		width: 100%;
	}
}


/* ------------------------------------------- */


.main{
    /* margin-top: 10rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 11rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
	margin-top: 6rem;
	background-color: #fff;
	border-radius: 18px;
	padding-bottom: 20px;
	margin-bottom: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

/* -------------------------------------------------------------- */


.videoContainer img{
	height: 24rem;
}
@media(max-width:500px){
	.videoContainer img {
		height: 12rem;
	}
}
.above-dot{
	z-index: 200;
}
.responsive-container-block {
	min-height: 75px;
	height: fit-content;
	width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	justify-content: flex-start;
  }
  
  .text-blk {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 50px;
  }
  
  .text-blk.headingText {
	font-size: 23px;
	font-weight: 700;
	line-height: 28px;
	color: rgb(0, 135, 177);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
  }
  
  .allText {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 50%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
  }
  
  .text-blk.subHeadingText {
	color: rgb(102, 102, 102);
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
  }
  
  .text-blk.description {
	font-size: 18px;
	line-height: 28px;
	color: rgb(153, 153, 153);
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
  }
  
  .explore {
	font-size: 18px;
	line-height: 28px;
	color: rgb(255, 255, 255);
	background-color: rgb(244, 152, 146);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: rgb(244, 152, 146);
	border-right-color: rgb(244, 152, 146);
	border-bottom-color: rgb(244, 152, 146);
	border-left-color: rgb(244, 152, 146);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	cursor: pointer;
	box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-top: 9px;
	padding-right: 45px;
	padding-bottom: 9px;
	padding-left: 45px;
  }
  
  .explore:hover {
	background-image: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: rgb(255, 235, 234);
	color: rgb(244, 152, 146);
  }
  
  .responsive-container-block.Container {
	margin-top: 80px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	max-width: 1320px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
	flex-direction: row;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
  }
  
  .allText.aboveText {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
  }
  
  .allText.bottomText {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
  }
  
  .mainVideo {
	width: 85%;
	height: 450px;
	margin-top: -30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
  }
  
  .videoContainer {
	width: 46%;
	height: 600px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
  }
  
  .mainVideo {
	z-index: 10;
  }
  
  .dotsImg {
	position: absolute;
	width: 80%;
	height: 600px;
	top: 0px;
	right: 0px;
	object-fit: cover;
  }
  
  @media (max-width: 1024px) {

	.about-container-1 .about-content{
		margin:  6rem 0;
	}
	@media(max-width:1025px){
		.about-container-1 .about-content{
			margin:  1.4rem;
		}
	}
	.responsive-container-block.Container {
	  max-width: 850px;
	}
  
	.text-blk.description {
	  font-size: 18px;
	}
  
	.allText {
	  width: 40%;
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 20px;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 10px;
	  padding-right: 10px;
	  padding-bottom: 10px;
	  padding-left: 10px;
	}
  
	.text-blk.subHeadingText {
	  font-size: 30px;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  margin-top: 40px;
	  margin-right: auto;
	  margin-bottom: -60px;
	  margin-left: auto;
	}
  
	.responsive-container-block.Container {
	  max-width: 830px;
	}
  
	.allText.aboveText {
	  margin-top: 30px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 40px;
	}
  
	.allText.bottomText {
	  margin-top: 30px;
	  margin-right: 40px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.allText.bottomText {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  margin-top: 30px;
	  margin-right: 0px;
	  margin-bottom: 30px;
	  margin-left: 0px;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  flex-direction: column;
	}
  
	.text-blk.headingText {
	  text-align: center;
	  font-size: 22px;
	}
  
	.text-blk.subHeadingText {
	  text-align: center;
	}
  
	.text-blk.description {
	  text-align: center;
	}
  
	.explore {
	  margin-top: 0px;
	  margin-right: auto;
	  margin-bottom: 0px;
	  margin-left: auto;
	}
  
	#inc0s {
	  margin-top: 0px;
	  margin-right: auto;
	  margin-bottom: 0px;
	  margin-left: auto;
	}
  
	.dotsImg {
	  width: 50%;
	  left: 50%;
	  transform: translateX(-50%);
	}
  
	.videoContainer {
	  width: 100%;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.mainVideo {
	  width: 100%;
	}
  
	.allText.bottomText {
	  margin-top: 30px;
	  margin-right: 0px;
	  margin-bottom: 60px;
	  margin-left: 0px;
	}
  
	.text-blk.description {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.text-blk.headingText {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.text-blk.subHeadingText {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.mainVideo {
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  }
  
  @media (max-width: 768px) {
	.allText {
	  width: 100%;
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	}
  
	.responsive-container-block.Container {
	  flex-direction: column;
	  height: auto;
	}
  
	.text-blk.headingText {
	  text-align: center;
	}
  
	.text-blk.subHeadingText {
	  text-align: center;
	  font-size: 28px;
	  line-height: 38px;
	}
  
	.text-blk.description {
	  text-align: center;
	  font-size: 18px;
	  line-height: 27px;
	}
  
	.allText {
	  margin-top: 40px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.allText.aboveText {
	  margin-top: 40px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.responsive-container-block.Container {
	  margin-top: 80px;
	  margin-right: auto;
	  margin-bottom: 50px;
	  margin-left: auto;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  margin-top: 50px;
	  margin-right: auto;
	  margin-bottom: 50px;
	  margin-left: auto;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 10px;
	}
  
	.allText.bottomText {
	  margin-top: 40px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	}
  
	.allText.bottomText {
	  margin-top: 40px;
	  margin-right: 0px;
	  margin-bottom: 60px;
	  margin-left: 0px;
	}
  
	.mainVideo {
	  height: 400px;
	}
  
	.videoContainer {
	  height: 550px;
	}
  
	.explore {
	  font-size: 16px;
	  padding-top: 8px;
	  padding-right: 40px;
	  padding-bottom: 8px;
	  padding-left: 40px;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 0px;
	  padding-right: 50px;
	  padding-bottom: 0px;
	  padding-left: 50px;
	}
  }
  
  @media (max-width: 500px) {
	.responsive-container-block.Container {
	  padding-top: 10px;
	  padding-right: 0px;
	  padding-bottom: 10px;
	  padding-left: 0px;
	  width: 100%;
	  max-width: 100%;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 10px;
	  padding-right: 25px;
	  padding-bottom: 10px;
	  padding-left: 25px;
	}
  
	.allText {
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
	  width: 100%;
	}
  
	.responsive-container-block.bigContainer {
	  padding-top: 10px;
	  padding-right: 20px;
	  padding-bottom: 10px;
	  padding-left: 20px;
	}
  
	.explore {
	  font-size: 16px;
	  line-height: 25px;
	  padding: 8px 35px 8px 35px;
	}
  
	.dotsImg {
	  width: 80%;
	  height: 100%;
	}
  
	.mainVideo {
	  height: 260px;
	}
  
	.videoContainer {
	  height: 320px;
	}
  
	.responsive-container-block.Container.bottomContainer {
	  padding: 0 0 0 0;
	}
  
	.text-blk.description {
	  font-size: 16px;
	  line-height: 23px;
	  margin: 0 0 30px 0;
	}
  
	.text-blk.subHeadingText {
	  font-size: 24px;
	}
}

/* -------------------------------------------------------------- */

.about-box-1{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
}
 .about-box-1 img{
	height: 28rem;
}
.about-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}
.about-box img{
    height: 14rem;
}
.about-content{
    margin: 0 2rem;
}
.about-content h2{
    margin-bottom: 10px;
    font-size: 2.4rem;
}
.about-p p{
	padding: 6px 0;
	font-size: 18px;
	font-weight: 400;
	color: #37383a;
}
.about-container-1{
	margin: 0 2rem;
	line-height: 28px;
}
@media(max-width:500px){
	.about-container-1{
		margin: 0rem;
		line-height: 26px;
	}
	.about-container-1 .mission{
        margin-top: 2rem;
	}
}
.about-container-1 p{
	margin-top: 1.1em;
}
.sdg-section{
    text-align: center;
    margin-top: 6rem;
}
.sdg-heading h3{
    color: #585858;
    margin-bottom: 2px;
    font-size: 18px;
}
.sdg-section h2{
    font-size: 2rem;
}
.sdg-section img{
    margin: 2rem 0;
    height: 9rem;
    
}


/* ---------------------------------------- */

.Initiatives-head{
	margin-top: 5rem;
	margin-bottom: 1rem;
	text-align: center;
}
@media(max-width:700px){
	.Initiatives-head{
		margin-top: 12rem;
		margin-bottom: -12rem;
	}
}
.popup-link img{
	height: 14rem;
	border-radius: 10px;
	border:  2px solid #e19491;
	padding: 2px;
}
.popup-link{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}
.popup-box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 1rem ;
	width: 20%;
}
.popup-box p{
	margin: 10px 0;
	text-align: center;
}
.popup-link a{
	background-color: #E88683;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size:17px;
    cursor:pointer;
    /* margin:20px; */
    text-decoration:none;
}
.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e8868341;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}
.popup-content p{
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}
.popup-content div{
    padding: 8px 8px;
}
.popup-content a.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
}

.popup-content a.close:hover{
  color:#333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.popup-container h3{
  margin:10px;
}
/*End popup styles*/

/* Additional styles */
.popup-style-2{
  transform: scale(0.3);
  
}

.popup-style-2:target{
  transform: scale(1);
}

.popup-style-3{
  left:100%;
  
}

.popup-style-3:target{
  left:0;
}

.popup-style-4{
  transform: rotate(180deg);
}

.popup-style-4:target{
  transform: rotate(0deg);
}

.popup-style-5{
  top:100%;
  
}

.popup-style-5:target{
  top:0;
}

.popup-style-6{
  transform: scale(15.3);
  
}

.popup-style-6:target{
 transform: scale(1);
 }

.popup-style-7{
  transform: skewY(180deg);
   transition: all 0.7s ease-in-out;
}

.popup-style-7:target{
 transform: skewY(0deg);

 }

.popup-img{
    width: 100%;
    margin-bottom: 10px;
}
/* -------------------------------------- */

span{
    color: #E88683;
}
.founder-heading,.initiatives-heading{
    text-align: center;
}
.founder-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    margin: 0 16rem;
}
.founder-container img{
    height: 28rem;
    margin-left: 4rem;
}
.founder-container .content{
    text-align: start;
}
.content h4{
    color: #e8868378;
    font-weight: 500;
    /* letter-spacing: 1px; */
    font-size: 1.6rem;
}
.content h1{
    font-size: 40px;
    letter-spacing: 5px;
}
.content p{
    font-size: 18px;
}
.founder-container p{
    margin-top: 18px;
}

/* -------------------------------------- */

.initiatives-section{
	height: 65vh;
	margin-top: 6rem;
}
.initiatives-heading{
	margin-top: 3rem;
    font-size: 1.4rem;
	margin-bottom: -2rem;
}
.initiative-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.initiative-grid img{
    width: 100%;
    height: 10%;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	border: #E88683 2px solid;
	padding: 3px;
}
.initiative-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 4rem;
    margin: 4rem 14rem;
}
.initiative-grid div{
    padding: 1rem;
}
.initiative-grid div h3{
    font-size: 24px;
    color: #E88683;
	margin: 0 8px;
}
.initiative-grid div p{
	margin: 0 8px;
	font-size: 14px;
}

/* --------------------------------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.initiatives-section .initiative-grid div #myBtn{
	padding: 6px 10px;
	margin-top: 16px;
	margin-left: 10px;
}
/* ----------------- */
.features-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
  }
  .features-section{
	font-weight: 300;
	margin-top: 2.4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 1rem;
  }
  .features-section{
	text-align: center;
  }
  .features-section div h3{
	font-weight: 500;
	margin: 0 14px;
  }
  
  @media(max-width:1040px){
	.features-section div h3{
		font-weight: 500;
		font-size: 16px;
		margin: 0 14px;
	  }
  }
  /* ----------------- */

/* --------------------------------------------- */

.incinator{
	height: 100vh;
	margin-top: 2rem;	
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: start;
	justify-content: center;
}
.incinator-container{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
}
@media(max-width:800px){
	.incinator-container{
		flex-direction: column;
		justify-content: space-around;
		width: 80%;
	}
	.incinator{
		height: auto;
	    margin-top: -4rem;	
	    margin-bottom: -8rem;	
	}
}
.incinator-container p,.incinator-container h2{
	margin: 0 2rem;
	font-size: 18px;
    line-height: 24px;
    color: rgb(114, 114, 114);
}
@media(max-width:1040px){
	.incinator-container p,.incinator-container h2{
		margin: 0rem;
		font-size: 18px;
		line-height: 22px;
	}
}
.incinator-container p{
	margin-top: 4rem;
}
.incinator-heading{
  text-align: center;
}
.incinator-heading h4{
	color: #888;
	font-size: 18px;
}
.incinator-heading h1{
	font-size: 2.6rem;
}
.incinator-img{
    width: 45%;
}
.read-more{
	padding: .6rem 3.6rem;
	border-radius: 4px;
	margin-top: 3rem;
	border: none;
	background-color: #e19491;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

/* ---------------------------------- */

.testimonials-heading{
	text-align: center;
	margin: 2rem;
}
.testimonials-heading h1{
	font-size: 2.1rem;
}
.testimonials-heading p{
	font-size: 1rem;
	padding-top: 8px;
}
.testimonials-box{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}
figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
   figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
   figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
   figure.snip1139 blockquote {
  position: relative;
  background-color: #f7deddae;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
   figure.snip1139 blockquote:before,
   figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
   figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
   figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
   /* figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fadde1;
  margin: 0;
  position: absolute;
} */
   figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #f7dedd;
  margin: 0;
  text-transform: uppercase;
}
   figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
   figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
@media(max-width:600px){
	.testimonials-heading h1{
		font-size: 1.6rem;
	}
	.testimonials-heading p{
		font-size: 1rem;
		padding-top: 8px;
	}
	.testimonials-box{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 3rem;
	}
}

.snip1139 img{
	height: 17rem;
	width: 100%;
}

.snip1139 img:hover{
	overflow: hidden;
	transform: scale(1.05);
}

/* ---------------------------------- */

.podcast-section{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/podcast-background.jpg");
    background-size: 100% 140%;
    color: #fff;
    text-align: center;
    padding-top: 30px;
	/* filter: grayscale(50%); */
}

.podcast-section p{
	margin: 2rem 0;
    font-weight: 400;
	/* background-color: #0000007f; */
	padding: 1.2rem;
}
@media(max-width:1025px){
    iframe{
        width: 36%;
    }
}
@media(max-width:800px){
    iframe{
        width: 56%;
    }
}
@media(max-width:427px){
    iframe{
        width: 70%;
    }
}
.listen-now{
	background-color: #E88683;
	border: none;
	height: 3rem;
	width: 12rem;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}
/* ---------------------------------- */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #e19491;
    padding: 60px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #000;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	font-weight: 500;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #000;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
footer{
	color: #000;
}
footer p{
	font-weight: 500;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	
}
.row{
	display: flex;
	flex-direction: column;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



@media(max-width:1385px){
	.caption h2 {
		margin-bottom: 20px;
		font-size: 45px;
	}
	.caption p {
		font-size: 18px;
	}
    .about-container{
		height: auto;
		padding: 0 3rem;
		margin-bottom: 4rem;
	}
	.about-heading{
		padding-top: 5rem;
		font-size: 1rem;
		margin-bottom: 3rem;
	}
	.about-container span{
		color: #E88683;
	}
	.about-container p{
		margin: 16px 0;
	}
	.about-l img{
		height: 23rem;
		width: 23rem;
		margin-right: 2rem;
	}
	.about-r h1{
		font-size: 20px;
	}
	.about-r p{
		font-size: 14px;
	}

	.incinator-heading{
		margin-top: 4rem;
	}
	.incinator-container {
		width: 80%;
	}
	.initiative-grid div {
		padding: .6rem;
	}

	.incinator-heading h1 {
		font-size: 2rem;
	}
	.incinator-heading h4 {
		font-size: 16px;
	}
	.initiative-grid {
		display: flex;
		margin-top: 4rem;
		margin: 4rem 1rem;
	}
	.initiative-grid img {
		width: 90%;
		height: 10%;
	}

    .founder-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 60vh;
		margin: 0 4rem;
	}
	.founder-image img{
		height: 18rem;
	}
	.content p {
		font-size: 14px;
	}
	.content h1 {
		font-size: 28px;
	}
	.content h4 {
		font-size: 20px;
	}
	.content h3 {
		font-size: 20px;
		margin-top: 10px;
	}
	/* ---------------------- */
   	
 .popup-link img{
   	height: 12rem;
	width: 120%;

   	border-radius: 10px;
   	border:  2px solid #e19491;
   	padding: 2px;
   }
   .popup-link{
     display:flex;
     flex-wrap:wrap;
     align-items: center;
     justify-content: center;
   }
   .popup-box{
   	display: flex;
   	align-items: center;
   	justify-content: center;
   	flex-direction: column;
   	margin: 1.8rem;
   }
   .popup-link a {
    background-color: #E88683;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 15px;
}
.footer-col ul li a{
	font-size: 13px;
}
footer p {
    font-weight: 500;
	font-size: 14px;
}

}


@media(max-width:700px){
	.caption h2 {
		margin-bottom: 30px;
		text-transform: uppercase;
		font-size: 24px;
	}
	.caption p {
		font-size: 18px;
	}
	.about-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 140vh;
		padding: 0 1rem;
		/* margin-bottom: 36rem; */
	}
	.incinator-img {
		width: 95%;
	}
	.features-section{
		font-weight: 300;
		margin-top: 2.4rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		grid-template-rows: 1fr;
		grid-gap: 10px;
		/* font-size: 12px; */
	}
	.features-section h3{
		font-size: 16px;
	}
	.about-l img {
		height: 18rem;
		width: 100%;
		height: 100%;
		margin-right: 0rem;
		margin: 0px;
	}
	.about-r{
		margin: 1rem;
		font-size: 22px;
	}
	.about-heading{
		font-size: 16px;
	}
	.about-container{
		margin-bottom:4rem;
	}
	.initiatives-section {
		height: auto;
		margin-top: 17rem;
	}
	.incinator-container p, .incinator-container h2 {
		margin: 2px;
	}
	.initiative-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin-top: 4rem;
		margin: 4rem 0rem;
	}
	.popup-link img {
		height: 14rem;
		width: 100%;
	}
	.founder-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: auto;
		margin: 3rem 0;
	}
	.founder-container .content {
		text-align: center;
	}
	.founder-container .content p{
		margin: 10px 20px;
		font-size: 16px;
	}
	.founder-image img{
		height: 20rem;
		margin-top: 0rem;
		margin-left: 0rem;
	}

	.podcast-section p {
		margin: 1rem 0;
		font-weight: 400;
		padding: 1.2rem;
		font-size: 14px;
	}
	.podcast-section p br{
		display: none;
	}

	.popup-link{
		display:flex;
		flex-wrap:wrap;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top:12rem;
	}
	.popup-box{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 1rem ;
		width: 80%;
	}
	.popup-content {
		background-color: #fefefe;
		margin: auto;
		padding: 12px;
		border: 1px solid #888;
		width: 90%;
	}
	.popup-content p {
		font-size: 14px;
		padding: 10px;
		line-height: 18px;
	}
}


@media(max-width:1025px){
    .main {
        margin: 5rem 3rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
    .about-content-main {
        margin-bottom: 3rem;
    }
}

@media(max-width:800px){
    .main {
        margin: 2.4rem 1.4rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
    .main h1 {
        font-size: 2rem;
        margin-bottom: 0rem;
    }
    .about-content {
        margin: 0rem;
        margin-bottom: 4rem;
    }
    .sdg-section img {
        margin: 2rem 0;
        height: 4rem;
    }
    .sdg-section h2 {
        font-size: 2rem;
    }
    .sdg-heading h3 {
        font-size: 18px;
    }
    .about-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -4rem;
    }
    
    .mission {
        flex-direction: column-reverse;
    }
    .award-boxes {
        flex-direction: column;
    }
    .award-boxes img {
        padding:  20px 0;
    }
    .awards-section{
        margin-bottom: 2rem;
    }
    .awards-section h2 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
}
